*{
    padding: 0;
    margin: 0;
}

body{
    font-family: "Gabarito", sans-serif;
}

img{
    cursor: pointer;
}
/* Navbar Style */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 30px;
    gap: 10px;
    border-bottom: 1px solid black;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

.navbar__heading h1{
    color:  #A435F0;
}
.navbar__search{
    border: 1px solid black;
    padding: 10px;
    width: 60%;
    border-radius: 25px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.navbar__search input{
    border: none;
    width: 100%;
    font-size: 16px;
    background-color: transparent;
}

.navbar__search input:focus{
    outline: none;
}

.navbar__links{
    display: flex;
    gap: 15px;
    align-items: center;
}

.navbar__links *:hover{
    cursor: pointer;
}

.mylearning{
    position: relative;
}

.mylearning__popup{
    position: absolute;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    right: 0;
    top: 160%;
    display: none;
}

.mylearning:hover .mylearning__popup{
    cursor: pointer;
    display: block;
}

/* Categories Style */

.categories{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 18px;
    border-bottom: 1px solid black;
}

.categories p{
    background-color: #A435F0;
    color: white;
    padding: 10px 12px;
    border-radius: 25px;
    border: 1px solid #A435F0;
    transition: 0.3s ease-in-out;
}

.categories p:hover{
    background-color: white;
    color: #A435F0;
    border: 1px solid #A435F0;
    cursor: pointer;
}

/* Sale Image style */

.sale-image img{
    width: 100%;
}

.sale-image{
    position: relative;
}

.sale-image__offer{
    width: 25%;
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 20px;
    position: absolute;
    border: 2px solid black;
    top: 20%;
    left: 5%;
    animation-name: scale;
    animation-duration: 1s;
    animation-timing-function: linear;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes scale {
    0%{
        opacity: 0;
        transform: scale(0);
    }

    100%{
        opacity: 1;
        transform: scale(1);
    }
}

.sale-image__offer h1{
    margin-bottom: 10px;
}
/* Recommended Style */

.recommended{
    padding: 10px 30px;
}

.recommended__container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.course-card{
    width: 350px;
    margin-top: 15px;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}

/* .course-card:hover{
    transform: scale(1.05);
    transition: 0.6s;
} */

.course-card img{
    width: 100%;
    height: 50%;
    margin-bottom: 10px;
}

.course-card h3:hover{
    cursor: pointer;
}
.course-card h3, .course-card p{
    margin-bottom: 5px;
}

.topics{
    padding: 0 30px;
}

.topics__container{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.topics__container p{
    border: 1px solid black;
    padding: 8px;
    flex-grow: 1;
    flex-basis: 25%;
    transition: 0.3s;
}

.topics__container p:hover{
    background-color: black;
    color: white;
}

.popular{
    padding: 30px;
}

.popular__container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
}

.footer{
    background-color: black;
    color: white;
    padding: 50px;
    padding-bottom: 30px;
}

.footer__links{
    display: flex;
    gap: 60px;
}

.footer__links__s1, .footer__links__s2{
    display: flex;
    flex-direction: column;
}

.footer__links__s1 a, .footer__links__s2 a{
    margin-bottom: 15px;
    text-decoration: none;
    color: white;
}

.footer__links__s1 a:hover,
.footer__links__s2 a:hover{
    color: gray;
}

.footer__logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
